{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="all_tweets_view">
    <div id="box-heading"></div>
    <div id="all_tweets_list">
    {% for tweet in tweets_obj %}
    <button class="tweet btn btn-light bd btn-block"><a href="{% url 'poster_profile' tweet.user.id %}"><b>{{tweet.user.username}}</b></a><br>{{tweet.body}}<br>{{tweet.timestamp}}<br>
        <div class="like mt-3">
            <img style="width: 25px;
            cursor: pointer;"
            data-id="{{tweet.id}}"
            id="tweet-like-{{tweet.id}}"
              class="liked"
              {% if not request.user in tweet.like.all %}
              data-is_liked="no"
              src="https://img.icons8.com/carbon-copy/100/000000/like--v2.png"
        {%else%}
        data-is_liked="yes"
              src="https://img.icons8.com/plasticine/100/000000/like.png"
              {%endif%}
            />
            
            <span id="tweet-count-{{tweet.id}}">{{tweet.like.count}}</span>
          </div></button>
        <br>
    {% endfor %}
    </div>
    <div class="pagination_view">
        <span class="step-links">
            <ul class="pagination">
                {% if tweets_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.previous_page_number }}">previous</a></li>
            {% endif %}
    
            <li class="page-item"><a class="page-link"><span class="current">Page {{ tweets_obj.number }}</span></a></li>
    
            {% if tweets_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
            </ul>
        </span>
    </div>
    </div>
    
    
<div id="user_id'">{{ request.user.id|json_script:"user_id" }}</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/followed.js' %}"></script>
{% endblock %}


