{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<!-- pay attention to these buttons -->
<button id="btn">Unfollow</button>
<!-- <button id="post">Post Tweet</button> -->
<!-- <button id="all_post">Get All Tweets</button> -->

<div id="compose-view">
    <h3>New Tweet</h3>
    <form id="compose-form">
        <textarea class="form-control" id="compose-body" placeholder=""></textarea>
        <input id="likes" type="text">
        <input type="submit" class="btn btn-primary" value="Post"/>
    </form>
</div>


<div id="user_profile_view">
    <div id="box-heading"></div>  
    <div id="following-btn"></div>
    <div id="unfollowing-btn"></div>
    <div id="followings"></div>
    <div id="followers"></div>
    <div id="user_profile_tweets"></div>
</div>

<div id="all_tweets_view">
    <div id="box-heading">All Tweets</div>
    <div id="all_tweets_list"></div>
</div>

<div id="following_tweets_view">
    <div id="box-heading">Following Tweets</div>
    <div id="following_tweets_list"></div>
</div>


<div id="poster_profile_view">
    <div id="poster-box-heading"></div>  
    <div id="poster-following-btn"></div>
    <div id="poster-unfollowing-btn"></div>
    <div id="poster-followings"></div>
    <div id="poster-followers"></div>
    <!-- <div id="user_profile_tweets"></div> -->
</div>




{% endblock %}

{% block script %}
    <script src="{% static 'network/social.js' %}"></script>
{% endblock %}
