{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="compose-view">
    <h3>New Tweet</h3>
    <form id="compose-form">
        <textarea class="form-control" id="compose-body" placeholder=""></textarea>
        <input type="submit" class="btn btn-primary" value="Post"/>
    </form>
</div>


<div id="user_profile_view">
    <div id="box-heading"></div>  
    <div id="following-btn"></div>
    <div id="unfollowing-btn"></div>
    <div id="followings"></div>
    <div id="followers"></div>
    <div id="user_profile_tweets"></div>
</div>


<div id="App"></div>



<div id="all_tweets_view">
<div id="box-heading"></div>
<div id="all_tweets_list">
{% for tweet in tweets_obj %}
<button class="tweet btn btn-light bd btn-block" data-id={{tweet.user.id}}><a><b>{{tweet.user.username}}</b></a><br>{{tweet.body}}<br>{{tweet.timestamp}}<br><form class="like_form"><a href="#" type="submit" class="like" data-id={{tweet.id}}><span class="glyphicon glyphicon-heart"></span></a><div class="like_count">{{tweet.likes.count}}</div></form></div></button><br>
{% endfor %}

     
        
<div class="pagination">
    <span class="step-links">
        <ul class="pagination">
            {% if tweets_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link"><span class="current">Page {{ tweets_obj.number }}</span></a></li>

        {% if tweets_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
        </ul>
    </span>
</div>
</div>
<div id="user_id'">{{ request.user.id|json_script:"user_id" }}</div>
</div>



<div id="following_tweets_view">
    <div id="box-heading"></div>
    <div id="following_tweets_list"></div>
</div>


<div id="poster_profile_view">
    <div id="poster-box-heading"></div>  
    <div id="poster-following-btn"></div>
    <div id="poster-unfollowing-btn"></div>
    <div id="poster-followings"></div>
    <div id="poster-followers"></div>
    <div id="poster_profile_tweets"></div>
</div>




{% endblock %}

{% block script %}
    <script src="{% static 'network/social.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/babel" src="{% static 'network/react.js' %}"></script> -->
{% endblock %}