{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div id="poster_profile_view">
    <div id="poster-box-heading">Username: {{user_prof.username.capitalize}}</div> 
    <form>
    {% csrf_token %}
    <div id="poster-following-btn"></div>
    </form> 
    <div id="poster-followings">Following: {{user_prof.following.count}}</div>
    <div id="poster-followers">Followers: {{user_prof.followers.count}}</div>
    <div id="poster_profile_tweets">
        {% for tweet in tweets_obj %}
        <button class="tweet btn btn-light bd btn-block" data-id={{tweet.user.id}}><div class ="tweet_body">{{tweet.body}}</div>{{tweet.timestamp}}<br>
            <div class="like mt-3">
                {% csrf_token %}
                <img style="width: 25px;
                cursor: pointer;"
                data-id="{{tweet.id}}"
                id="tweet-like-{{tweet.id}}"
                  class="liked"
                  {% if not request.user in tweet.like.all %}
                  data-is_liked="no"
                  src="https://img.icons8.com/carbon-copy/100/000000/like--v2.png"
            {%else%}
            data-is_liked="yes"
                  src="https://img.icons8.com/plasticine/100/000000/like.png"
                  {%endif%}
                />
                <span id="tweet-count-{{tweet.id}}">{{tweet.like.count}}</span>
              </div>
        {% endfor %}
    </div>
        <div class="pagination_view">
            <span class="step-links">
                <ul class="pagination">
                    {% if tweets_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
        
                    <li class="page-item"><a class="page-link"><span class="current">Page {{ tweets_obj.number }}</span></a></li>
        
                    {% if tweets_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
                    </ul>
            </span>
        </div>
        <div id="poster_id">{{ user_prof.id|json_script:"poster_id" }}</div>
        <div id="user_id'">{{ request.user.id|json_script:"user_id" }}</div>

</div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/poster_prof.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/babel" src="{% static 'network/react.js' %}"></script> -->
{% endblock %}