{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div id="user_profile_view">
    <div id="poster-box-heading">Username: {{user_prof.username.capitalize}}</div>  
    <div id="poster-following-btn"></div>
    <div id="poster-followings">Following: {{user_prof.following.count}}</div>
    <div id="poster-followers">Followers: {{user_prof.followers.count}}</div>
    <div id="poster_profile_tweets">
        {% for tweet in tweets_obj %}
        <button class="tweet btn btn-light bd btn-block" data-id={{tweet.user.id}}><a href="#" class="edit" data-tweet={{tweet.id}}>Edit</a><br><form >{% csrf_token %}<div class="edit-form"></div></form><div class="tweet_body">{{tweet.body}}</div>{{tweet.timestamp}}<form class="like_form"><a href="#" type="submit" class="like" data-id={{tweet.id}}><span class="glyphicon glyphicon-heart"></span></a><div class="like_count">{{tweet.likes.count}}</div></form></button><br>
        {% endfor %}
    </div>
        <div class="pagination_view">
            <span class="step-links">
                <ul class="pagination">
                    {% if tweets_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link"><span class="current">Page {{ tweets_obj.number }}</span></a></li>
                    {% if tweets_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ tweets_obj.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
                    </ul>
            </span>
        </div>
</div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/user_prof.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/babel" src="{% static 'network/react.js' %}"></script> -->
{% endblock %}